<html>
    <head>
        <title>Kahve Fincanında Fırtına </title>
    </head>
    <body>
        <div>
            <h1><a href="/">Fotoğraflar</a></h1>
        </div>
        <div>
            <p>published: 26/10/2019 Saat 14:29</p>
            <h2><a href="">İlk Python Blogum</a></h2>
            <p> Ben bir ceviz ağacıyım Gülhane Parkında, ne sen bunun farkındasın ne de polis farkında. </p>
        </div>

        <div>
            <p>Published 26/10/2019 Saat 14:30</p>
            <h2><a href="">İkinci gönderim</a></h2>
            <p>Bir varmış bir yokmuş, evvel zaman içinde Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır mıngır sallar iken.</p>
        </div>
    </body>
</html>